@require 'nib'
@require 'jeet'

.splash-component
  background: #fff
  .header-component
    user-select: none
    position: relative
    width: 100%
    height: 100vh
    overflow: hidden

    .statement-container
      align()
      width: 100%
      text-align: center

      .statement-text
        font-size: 6vw
        font-weight: bold
        color: #fff
        margin: 50px

        @media screen and (max-width: 750px)
          font-size: 15vw

        .statement-subtext
          font-size: 3vw

          @media screen and (max-width: 750px)
            font-size: 7vw

      .login-button
        text-transform: uppercase
        font-size: 1.5vw
        padding: 1vw

        @media screen and (max-width: 750px)
          width: 90vw
          font-size: 5.5vw
          padding: 4vw

    .down-arrow
      align(horizontal)
      text-decoration: none
      bottom: 20px
      width: 60px
      height: 60px
      padding: 1px
      color: #fff
      border-radius: 100%
      background: rgba(100, 100, 100, .8)
      text-align: center
      img
        margin-top: 10px
        width: 70%

  .info-component
    center()
    min-height: 100vh
    background-color: #fff

    .title
      col(1/1)
      center()
      text-align: center
      text-transform: uppercase
      font-size: 2.8em
      margin-bottom: 100px

    .info
      margin-bottom: 100px
      text-align: center
      font-size: 25px

      .info-header
        col(1/1)
        font-size: 2rem
