.person-page
  margin-left: auto !important
  margin-right: auto !important
  max-width: 40em !important

  .big-profile-card
    padding: 0 !important

  .segment
    border-radius: 0 !important
    border: none !important
    box-shadow: none !important