normalColor = #16a085
hoverColor = #1abc9c

.login-button
  background-color: normalColor !important
  background-image: none !important
  border: none !important

.login-button:hover
  background-color: hoverColor !important
