.big-profile-card
  padding: 0 !important
  border-radius: 0 !important
  border: none !important
  box-shadow: none !important

  .info
    padding-top: 0.1em

  .image
    margin-bottom: 0 !important