normalColor = #34495e
insetColor = #2c3e50

textColor = #bdc3c7
activeTextColor = #ecf0f1

inputColor = #3B444F

#navbar
  .ui.menu
    background-color: normalColor
    border-radius: 0
    box-shadow: none

    .dropdown.icon
      color: textColor

    .main.item
      color: textColor

    .active.main.item
      color: activeTextColor
      box-shadow: none

    // disable hairlines
    .item:before
      background-image: none

    .item
      .ui.input
        input
          color: textColor
          background-color: insetColor
          width: 90%
          float: right
          box-shadow: none
          border-color: transparent
          transition: width 0.25s

        input:focus
          background-color: #fff
          width: 100%
          color: inputColor

        // TODO: change when input is focused
        .icon
          color: textColor
