@require './sizes'

button(color=#fff, background=#cdcdcd, fontSize=regularFont, hoverText=#000)
  padding: 14px 25px
  background: background
  color: color
  border-radius: 4px
  border: none
  text-align: center
  outline: none
  font-size: fontSize
  text-transform: none
  text-decoration: none
  cursor: pointer
  transition: all 200ms

  i
    align(vertical)
    left: 10px
  i ~ *
    span(8.5/10, offset: 1.5/10)

  &:hover
    color: hoverText

    &:not([disabled=true])
      background-color: lighten(background, 20%)

  &[disabled]
    color: lighten(color, 50%)
    background: #cdcdcd
    cursor: default
    &:hover
      background: #cdcdcd
