.profile-card.item
  min-height: 0 !important
  border-radius: 0 !important
  padding: 0 !important
  border: 0 !important
  box-shadow: none !important

  .like.icon
    width: 15.984375px

@media only screen and (max-width: 500px)
  .items.stackable
    .profile-card.item
      width: 90% !important