.profile-card.item
  min-height: 0 !important
  border-radius: 0 !important
  padding: 0 !important

@media only screen and (max-width: 500px)
  .items.stackable
    .profile-card.item
      width: 90% !important