.container
  border-radius: 0 !important

  // centering
  margin-left: auto !important
  margin-right: auto !important
  max-width: 50em !important

.container.empty
  background-color: transparent !important
  box-shadow: none !important
