.ui.container
  min-width: 320px
  margin-left: 0%
  margin-right: 0%

@media only screen and (max-width: 500px)
  .ui.container
    padding: 2% 2%

@media only screen and (min-width: 500px)
  .ui.container
    padding: 2% 4%

@media only screen and (min-width: 992px)
  .ui.container
    padding: 2% 8%

@media only screen and (min-width: 1500px)
  .ui.container
    padding: 1% 13%

@media only screen and (min-width: 1750px)
  .ui.container
    padding: 1% 18%

@media only screen and (min-width: 2000px)
  .ui.container
    padding: 1% 23%