@require 'nib'
@require 'jeet'

.circleicon-component
  display: inline-block
  position: relative
  width: 100px
  height: 100px
  border-radius: 50%
  .text
    align()
    font-size: 50px
    color: #fff
